<div class="mycomponent">
  <div>
    <label for="mytext">Add Ingredient:</label>
    <input
      id="mytext"
      type='text'
      {{on "input" this.modifyTempIngredient}}
      value={{this.tempIngredient}}
      />
      <button type="button" {{on "click" this.add}}>Add</button>
  </div>
  <ul>
    {{#each this.ingredients as |item index|}}
      <MyComponent::Item @index={{index}}>
        {{item}}
      </MyComponent::Item>
    {{/each}}
  </ul>
</div>


<div class='mycomponent'>
  <div>
    Value:
    {{this.toggle}}
  </div>
  <div>
    <button type='button' {{on 'click' this.doToggle}}>Toggle</button>
  </div>
</div>

{{#if this.toggle}}
<div class='mycomponent'>
  <div>
    Text Value:
    {{this.anotherProp}}
  </div>
  <div>
    <label for="mytext">Edit:</label>
    <input
      id="mytext"
      type='text'
      {{on 'input' this.update}}
      value={{this.anotherProp}}
      />
  </div>
  <div>
    Length of string:
    {{this.textLength}}
  </div>
</div>
{{/if}}
