<div class='mycomponent'>
  <div>
    Value:
    {{this.toggle}}
  </div>
  <div>
    <button type='button' {{on 'click' this.doToggle}}>Toggle</button>
  </div>
</div>

<div class='mycomponent'>
  <div>
    Text Value:
    {{this.anotherProp}}
  </div>
  <div>
    <label for="mytext">Edit:</label>
    <input
      id="mytext"
      type='text'
      {{on 'input' this.update}}
      value={{this.anotherProp}}
      />
  </div>
    Length of string:
    {{this.textLength}}
  <div>
  </div>
</div>

<button type="button" {{on "click" this.clear}}>Clear</button>
